/* CSS for the Daggerheart teamplate */

/* Importing Google Fonts and custom font */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Eveleth Clean Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Eveleth Clean Regular'), url('Eveleth Clean Regular.woff') format('woff');
}

/* General styles */

body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 11px;
    color: #444444;
    column-count: 2;
    column-gap: 1.5rem;
    min-height: 200vh;
}

.fullwidth {
    column-span: all;
}

.fullwidth + p {
    margin: 0;
}

/* Front page styles */

header {
    column-span: all;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

header .title {
    font-family: 'Eveleth Clean Regular', Arial, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

header .subtitle {
    font-weight: 200;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: .5rem;
}

header .author {
    font-size: 14px;
}

/* Headings and text styles */

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    column-span: all;
    margin-block-start: .2rem;
    margin-block-end: .2rem;
    font-size: 2.5rem;
    font-weight: 200;
}

h2 {
    font-family: 'Eveleth Clean Regular', Arial, sans-serif;
    font-weight: normal;
}

h3 {
    font-size: 1.25rem;
    font-weight: lighter;
}

em {
    font-family: 'Merriweather', Arial, sans-serif;
    font-weight: lighter;
}
strong em {
    font-weight: bolder !important;
}

/* Lists styles */

/* Blockquote styles */
blockquote {
    margin: 1rem 0;
    padding-inline-start: .5rem;
    border-inline-start: 1px solid #727272;
}

/* Grey box styles */

.box {
    break-inside: avoid;
    background-color: #f2f2f2;         /* Gris claro */
    border-top: 1px solid #727272;     /* Borde superior gris oscuro */
    border-bottom: 1px solid #727272;  /* Borde inferior gris oscuro */
    padding: 0 1rem;
    margin: 1rem 0;
}